In [18]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nkmk/python-snippets/df339a7fdbc65d1a7a310103a0f4a795dc3321a5/notebook/data/src/sample_pandas_normal.csv',index_col=0)

In [10]:
print(df)

age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [11]:
print(df.index.values)
print(df.columns.values)

['Alice' 'Bob' 'Charlie' 'Dave' 'Ellen' 'Frank']
['age' 'state' 'point']

In [19]:
print(df.at['Bob','age'])
print(df.at['Dave','point'])
df.at['Bob','age']=999
print(df.at['Bob','age'])

42
70
999

In [23]:
print(df.iat[1,0])
print(df.iat[-1,-1])
df.iat[1,0] = 42
print(df.iat[1,0])

999
57
42

In [24]:
print(df.loc['Bob','age'])
print(df.iloc[-1,-1])

42
57

In [26]:
print(df.loc['Alice':'Dave','age'])

name
Alice      24
Bob        42
Charlie    18
Dave       68
Name: age, dtype: int64

In [27]:
print(df.loc['Frank','age':'state'])

age      30
state    NY
Name: Frank, dtype: object

In [28]:
print(df.iloc[:3,[0,2]])

age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70

In [29]:
print(df.iloc[::2,0])

name
Alice      24
Charlie    18
Ellen      24
Name: age, dtype: int64

In [30]:
print(df.loc[:,'age'])

name
Alice      24
Bob        42
Charlie    18
Dave       68
Ellen      24
Frank      30
Name: age, dtype: int64

In [32]:
print(df.iloc[[1,4]])

age state  point
name
Bob     42    CA     92
Ellen   24    CA     88